### **1012 4110E222**
Python Lists

In [1]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon']


Allow Duplicates

In [2]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon", "strawberry", "strawberry"]
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', 'strawberry', 'strawberry']

List Length

In [3]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
print(len(thislist))

4110E222 - 麥聖嬰
3

List Items - Data Types

In [5]:
print("4110E222 - 麥聖嬰")
string_list = ["pineapple", "strawberry", "watermelon"]
int_list = [1, 5, 7, 9, 3]
bolean_list = [True, False, False]

print(string_list)
print(int_list)
print(bolean_list)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon']
[1, 5, 7, 9, 3]
[True, False, False]

A list can contain different data types:

In [6]:
print("4110E222 - 麥聖嬰")
list = [100, "HELLO", 99, True, False]

print(list)

4110E222 - 麥聖嬰
[100, 'HELLO', 99, True, False]

type()

In [7]:
print("4110E222 - 麥聖嬰")
mylist = ["pineapple", "strawberry", "watermelon"]
print(type(mylist))

4110E222 - 麥聖嬰
<class 'list'>

Access List Items

List items are indexed and you can access them by referring to the index number:

In [8]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
print(thislist[2])

4110E222 - 麥聖嬰
watermelon

Negative Indexing

In [9]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
print(thislist[-2])

4110E222 - 麥聖嬰
strawberry

Range of Indexes

In [10]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon", "wine", "xerox", "zebra"]
print(thislist[1:4])

4110E222 - 麥聖嬰
['strawberry', 'watermelon', 'wine']

By leaving out the start value, the range will start at the first item:

In [11]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon", "wine", "xerox", "zebra"]
print(thislist[:5])

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', 'wine', 'xerox']

By leaving out the end value, the range will go on to the end of the list:

In [12]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon", "wine", "xerox", "zebra"]
print(thislist[1:])

4110E222 - 麥聖嬰
['strawberry', 'watermelon', 'wine', 'xerox', 'zebra']

Range of Negative Indexes

In [13]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon", "wine", "xerox", "zebra"]
print(thislist[-6:-2])

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', 'wine']

Check if Item Exists

In [14]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
if "strawberry" in thislist:
  print("Yes, 'strawberry' is in the list")

4110E222 - 麥聖嬰
Yes, 'strawberry' is in the list

Change List Items

To change the value of a specific item, refer to the index number:

In [15]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist[0] = "grapes"
print(thislist)

4110E222 - 麥聖嬰
['grapes', 'strawberry', 'watermelon']

Change a Range of Item Values

In [16]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon", "wine", "xerox", "zebra"]
thislist[0:2] = ["ants", "balloon"]
print(thislist)

4110E222 - 麥聖嬰
['ants', 'balloon', 'watermelon', 'wine', 'xerox', 'zebra']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [17]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist[0:1] = ["ants", "balloon"]
print(thislist)

4110E222 - 麥聖嬰
['ants', 'balloon', 'strawberry', 'watermelon']

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [18]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist[0:3] = ["fruits"]
print(thislist)

4110E222 - 麥聖嬰
['fruits']

Insert Items

In [19]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist.insert(0, "fruits")
print(thislist)

4110E222 - 麥聖嬰
['fruits', 'pineapple', 'strawberry', 'watermelon']

Add List Items

In [20]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist.append("zipper")
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', 'zipper']

Extend List

In [21]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
animallist = ["chicken", "zebra"]
thislist.extend(animallist)
print(thislist)
# The elements will be added to the end of the list.

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', 'chicken', 'zebra']

Remove List Items

Remove Specified Item

In [22]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist.remove("watermelon")
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry']

Remove Specified Index

In [23]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist.pop(2)
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry']

If you do not specify the index, the pop() method removes the last item.

In [24]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist.pop()
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry']

The del keyword also removes the specified index:

In [25]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
del thislist[2]
print(thislist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry']

The del keyword can also delete the list completely.

In [26]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
del thislist

4110E222 - 麥聖嬰

Clear the List

In [27]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "strawberry", "watermelon"]
thislist.clear()
print(thislist)

4110E222 - 麥聖嬰
[]

Sort Lists

Sort List Alphanumerically

In [28]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "zebra", "strawberry", "chicken", "watermelon"]
thislist.sort()
print(thislist)

4110E222 - 麥聖嬰
['chicken', 'pineapple', 'strawberry', 'watermelon', 'zebra']

In [29]:
print("4110E222 - 麥聖嬰")
thislist = [99, 100, 98, 96, 97]
thislist.sort()
print(thislist)

4110E222 - 麥聖嬰
[96, 97, 98, 99, 100]

Sort Descending

In [30]:
print("4110E222 - 麥聖嬰")
thislist = ["pineapple", "zebra", "strawberry", "chicken", "watermelon"]
thislist.sort(reverse = True)
print(thislist)

4110E222 - 麥聖嬰
['zebra', 'watermelon', 'strawberry', 'pineapple', 'chicken']

In [31]:
print("4110E222 - 麥聖嬰")
thislist = [99, 100, 98, 96, 97]
thislist.sort(reverse = True)
print(thislist)

4110E222 - 麥聖嬰
[100, 99, 98, 97, 96]

Copy Lists

In [32]:
print("4110E222 - 麥聖嬰")
list = ["pineapple", "strawberry", "watermelon"]
mylist = list.copy()
print(mylist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon']

Join Lists

Join Two Lists

In [33]:
print("4110E222 - 麥聖嬰")
firstlist = ["pineapple", "strawberry", "watermelon"]
secondlist = [True, False]

list = firstlist + secondlist
print(list)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', True, False]

Another way to join two lists is by appending all the items from secondlist into firstlist, one by one:

In [34]:
print("4110E222 - 麥聖嬰")
firstlist = ["pineapple", "strawberry", "watermelon"]
secondlist = [True, False]

for x in secondlist:
  firstlist.append(x)

print(firstlist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', True, False]

Or you can use the extend() method, which purpose is to add elements from one list to another list:

In [35]:
print("4110E222 - 麥聖嬰")
firstlist = ["pineapple", "strawberry", "watermelon"]
secondlist = [True, False]

firstlist.extend(secondlist)
print(firstlist)

4110E222 - 麥聖嬰
['pineapple', 'strawberry', 'watermelon', True, False]

List Methods

In [36]:
print("4110E222 - 麥聖嬰")
list = ["pineapple", "strawberry", "watermelon"]

x = list.count("strawberry")
print(x)

4110E222 - 麥聖嬰
1

1

In [37]:
print("4110E222 - 麥聖嬰")
list = ["pineapple", "strawberry", "watermelon"]

x = list.index("strawberry")
print(x)

4110E222 - 麥聖嬰
1

1

In [38]:
print("4110E222 - 麥聖嬰")
list1 = ["pineapple", "strawberry", "watermelon"]

list1.reverse()

print(list1)

4110E222 - 麥聖嬰
['watermelon', 'strawberry', 'pineapple']

In [39]:
print("4110E222 - 麥聖嬰")
list1 = ["pineapple", "strawberry", "watermelon"]

print(list1[::-1])

4110E222 - 麥聖嬰
['watermelon', 'strawberry', 'pineapple']