Exercise 1 : Print the second item in the fruits list.

In [1]:
fruits = ["apple", "banana", "cherry"]
print(fruits[1])

banana

Exercise 2 : Change the value from "apple" to "kiwi", in the fruits list.

In [2]:
fruits = ["apple", "banana", "cherry"]
fruits[0] = "kiwi"
print(fruits)

['kiwi', 'banana', 'cherry']

Exercise 3 : Use the append method to add "orange" to the fruits list.

In [3]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

Exercise 4 : Use the insert method to add "lemon" as the second item in the fruits list.

In [4]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1,"lemon")
print(fruits)

['apple', 'lemon', 'banana', 'cherry']

Exercise 5 : Use the remove method to remove "banana" from the fruits list.

In [5]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

Exercise 6 : Use negative indexing to print the last item in the list.

In [6]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

Exercise 7 : Use a range of indexes to print the third, fourth, and fifth item in the list.

In [7]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'orange', 'kiwi']

Exercise 8 : Use the correct syntax to print the number of items in the list.

In [8]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

Example 2: remove() method on a list having duplicate elements

In [9]:
# animals list
animals = ['cat', 'dog', 'dog', 'guinea pig', 'dog']

# 'dog' is removed
animals.remove('dog')


# Updated animals list
print('Updated animals list: ', animals)

Updated animals list:  ['cat', 'dog', 'guinea pig', 'dog']

Example 3: Deleting element that doesn't exist

In [10]:
# animals list
animals = ['cat', 'dog', 'rabbit', 'guinea pig']

# Deleting 'fish' element
animals.remove('fish')


# Updated animals List
print('Updated animals list: ', animals)

ValueError: ignored