In [1]:
def sum(i1, i2):
    result = 0
    for i in range(i1, i2+1):
        result += i
    return result

def main():
    print("Sum from 1 to 123 is", sum(1, 123)) 
    print("Sum from 5 to 10 is", sum(5, 10))
    print("Sum from 50 to 100 is", sum(50, 100))

main() # Call the main function

Sum from 1 to 123 is 7626
Sum from 5 to 10 is 45
Sum from 50 to 100 is 3825

f(101)

In [2]:
def f(n):
   if n == 1:
     return 1
   else:
     return f(n-1) + n

f(101)

5151

Fibonacci Sequence

In [3]:
def f(n):
  if n == 0:
    return 0
  if n == 1:
    return 1
  else:
    return f(n-1) + f(n-2)

f(6) #in this code note that the n starts at 0

8

In [4]:
def f(n):
  a = 0
  b = 1
  if n == 0:
    return a
  if n == 1:
    return b
  else:
    for i in range(2,n):
        c = a + b
        a = b
        b = c
    return b
f(7) #in this code note that the n starts at 1

8